/*  your css code here. If applicable */

body{
	background-color:#f5f5f5;
}
.container{
	display:flex;
	text-align:center;
	justify-content:center;
}
.header{
	background-color:#011e29;
	width:100%;
	color:rgb(255,255,255);
	text-align:center;
	padding:20px;
}
img{
	height:100px;
}
.latest-news-section{
	background-color:rgb(255,255,255);
	margin-top:10px;
	padding:20px;
	border-radius:10px;
	margin:10px;
}
.Main-Article{
	background-color:rgb(255,255,255);
	margin-top:10px;
	padding:20px;
	border-radius:10px;
}
.pictorial-news-section{
	background-color:rgb(255, 255,255);
	margin-top:10px;
	padding:20px;
	border-radius:10px;
	margin:10px;
}